:root{
    --primary: white;
    --secondary: #f32d49;
    --accent: #202121;
    --primary2: #2E294E;
    --secondary2: #A4BD5F;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

html{
    background-color: var(--primary);
    color: var(--primary);
}

body{
    display: flex;
}

a{
    text-decoration: none;
    color: var(--primary);
}

/* Nav */
nav{
    background-color: var(--secondary);
    color: var(--primary);
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-right: 5px solid var(--accent);
}

#logo{
    height: 130px;
    width: 130px;
    margin-top: 30px;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

/* Feed */
#feed-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#feed-section{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border: 5px solid var(--accent);
    width: 70%;
}

.recipe-contents{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.recipe-contents img{
    width: 100%;
}

.owner-tag{
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px;
}

.search-bar{
    width: 70%;
    height: 5%;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
}