:root{
    --primary: #faf0e6;
    --secondary: #f32d49;
    --accent: #202121;
    --primary2: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    background-color: var(--primary2);
    color: var(--accent);
    height: 100%;
}

a{
    text-decoration: none;
    color: var(--accent);
}

/* Register */
.lr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: visible;
    width: 100%;
}

.lr-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: 2px solid var(--accent);
    border-radius: 20px;
    height: 50%;
    width: 50%;
    gap: 10px;
    min-width: 250px;
    max-width: 400px;
    min-height: 400px;
    padding: 15px;
}

.lr-input{
    max-width: 300px;
}

.lr-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

input{
    border: 3px solid var(--accent);
    background-color: var(--primary2);
    height: 100%;
    width: 100%;
    padding: 5px;
    min-height: 40px;
    max-height: 40px;
    min-width: 100px;
    max-width: 400px;   
    border-radius: 4px;
}

button{
    background-color: var(--secondary);
    border: 2px solid var(--accent);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: var(--accent);
}

.link{
    color: var(--secondary);
    font-weight: 500;
}

/* Nav */
nav{
    background-color: var(--primary);
    color: var(--accent);
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid var(--accent);
    position: fixed;
}

#logo{
    height: 130px;
    width: 130px;
    margin-top: 30px;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.active-element{
    color: var(--secondary);
    font-weight: bold;
}

/* Feed */
#feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.feed-section{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border: 2px solid var(--accent);
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

.recipe-contents{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.recipe-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.recipe-contents img{
    width: 100%;
    height: 500px;
}

.owner-tag{
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px;
}

.search-bar{
    width: 100%;
    height: 5%;
    border: 2px solid var(--accent);
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: var(--primary);
    color: var(--accent);
    padding: 15px;
}

.recipe-text{
    padding: 10px;
    height: 100%;
}

.desc {
    height: 100px;
    width: 80%;
    overflow-wrap: break-word;
}


.recipe-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.recipe-title span{
    color: var(--secondary);
    font-weight: 500;
}

/* Add Recipe */
.description-box{
    height: 40px;
}

#recipe-form{
    display: flex;
    gap: 20px;
}

select{
    border: 3px solid var(--accent);
    background-color: var(--primary2);
    height: 100%;
    width: 100%;
    padding: 5px;
    min-height: 40px;
    min-width: 100px;
    max-width: 400px;
    border-radius: 4px;
}

.recipe-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: 2px solid var(--accent);
    border-radius: 20px;
    height: 80%;
    width: 100%;
    gap: 10px;
    min-width: 250px;
    max-width: 700px;
    min-height: 400px;
    padding: 20px;
}

.recipe-box h1{
    color: var(--secondary);
}

.recipe-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.instructions {
    margin-top: 250px;
}

.instructions-a{
    width: 100%;
}

.instructions-button{
    width: 95%;
}

.instruction-img{
    height: 200px;
    width: 200px;
}

.myrecipes{
    margin-top: 100px;
}