:root{
    --primary: white;
    --secondary: #f32d49;
    --accent: #202121;
    --secondary2: #90e0ef;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    background-color: var(--primary);
    color: var(--primary);
}

a{
    text-decoration: none;
    color: var(--primary);
}

/* Register */
.lr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: visible;
}

.lr-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border: 10px solid var(--accent);
    border-radius: 20px;
    height: 50%;
    width: 50%;
    gap: 10px;
    min-width: 250px;
    max-width: 400px;
    min-height: 400px;
}

.lr-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

input{
    border: 5px solid var(--accent);
    background-color: var(--primary);
    padding: 5%;
}

button{
    background-color: var(--secondary2);
    border: 2px solid var(--accent);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: var(--accent);
}

.link{
    color: var(--secondary2);
    font-weight: 500;
}

/* Nav */
nav{
    background-color: var(--secondary);
    color: var(--primary);
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-right: 5px solid var(--accent);
    position: fixed;
}

#logo{
    height: 130px;
    width: 130px;
    margin-top: 30px;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.active-element{
    color: var(--secondary2);
    font-weight: bold;
}

/* Feed */
#feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.feed-section{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border: 5px solid var(--accent);
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

.recipe-contents{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    flex-wrap: wrap;
}

.recipe-contents img{
    width: 100%;
}

.owner-tag{
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px;
}

.search-bar{
    width: 70%;
    height: 5%;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color: var(--primary);
    color: var(--accent);
    padding: 15px;
}

.recipe-text{
    padding: 10px;
}

.recipe-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.recipe-title span{
    color: var(--secondary2);
    font-weight: 500;
}

/* Responsiveness */
@media screen and (max-width: 750px) {
    body {
      font-size: 12px;
    }
    
    #logo{
        width: 65px;
        height: 65px;
    }

    nav{
        width: 125px;
    }

    .feed-section{
        margin-left: 20vh;
    }

    .search-bar{
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    
    #logo{
        width: 65px;
        height: 65px;
    }

    nav{
        width: 125px;
    }

    .feed-section{
        margin-left: 20vh;
    }

    .search-bar{
        width: 40%;
    }

    .recipe-box{
        padding: 35px;
    }
}

/* Add Recipe */
.description-box{
    height: 40px;
}

.recipe-box{
    padding: 100px;
    display: flex;
    gap: 20px;
}

#recipe-form{
    display: flex;
    gap: 20px;
}

select{
    border: 5px solid var(--accent);
    background-color: var(--primary);
    padding: 5%;
}